@import '../../../../custom-palettes.scss';

// Input field style
@include inventualInputFieldStyle;
@include inventualInputFieldEyeStyle;
// btn style
@include inventualMaterialBtn;

.inventual-login-wrapper {
    max-width: 500px;
    width: 500px;
    @apply inline-block;
    @apply rounded-[10px];
    @apply p-10;
    @apply pb-11;
    @apply bg-white;
    box-shadow: 0px 10px 30px linear-gradient(60deg, #006074, #54ccb6);;
    @media (max-width: 600px) {
		width: calc(100% - 40px);
        max-width: inherit;
        @apply p-5;
        @apply pb-4;
	}
    a {
        @apply transition-colors hover:text-success;
    }
}
.inventual-login-btn {
    .mat-mdc-raised-button .mdc-button__label,
    .mdc-button {
        @apply w-full;
    }
}
.inventual-input-field-style {
    @apply relative;
    caption {
        @apply absolute;
        @apply top-2;
        @apply end-3.5;
        @apply inline-block;
        .mat-icon {
            @apply text-[20px] text-body;
        }
    }
}
