<mat-dialog-content style="background-image: url('assets/img/logo/Felicidades2.jpg');">
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h4 class="text-[40px] text-white font-bold m-2 mb-5">¡Felicidades!</h4>
                        <h4 class="text-[30px] text-white font-bold m-2">Realizaste la Compra con Exito.</h4>
                        <h5 class="text-[15px] text-white font-semibold mb-3 ml-3">Ve a “Transacciones” para el estado de tu pedido.
                        </h5>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button [routerLink]="['/historialcompra']" type="submit" mat-raised-button color="primary">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>