<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay inventual-menu-overlay-dashboard" (click)="myfunction()"
            [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div class="inventual-header-wrapper custom-height-70 px-7 bg-primary border-b border-solid">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <!-- Área de Contenido -->
        <div class="inventual-content-area p-5">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-12">
                    <div class=" p-5 shadow mb-2"
                        style="background: linear-gradient(60deg, #006074, #349f8b, #54ccb6);">
                        <h2 class="text-white text-lg font-semibold">Tus Citas</h2>
                    </div>
                    <div class="grid grid-cols-4 gap-5 sm:grid-cols-1 mb-5">
                        <article *ngFor="let reserva of dataSource.data"
                            class="flex max-w-xl flex-col items-start justify-between rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-white"
                            [class.bg-success]="reserva.status === 'REALIZADO'"
                            [class.bg-danger]="reserva.status === 'CANCELADO'"
                            [class.bg-warning]="reserva.status === 'PENDIENTE'"
                            [class.bg-secondary]="reserva.status === 'ATENDIDO'">
                            <p *ngIf="reserva.status === 'REALIZADO'" class="text-white p-1 w-full text-right text-xs font-semibold">
                                Realizado
                            </p>
                            <p *ngIf="reserva.status === 'CANCELADO'" class="text-white p-1 w-full text-right text-xs font-semibold">
                                Cancelado
                            </p>
                            <p *ngIf="reserva.status === 'PENDIENTE'" class="text-white p-1 w-full text-right text-xs font-semibold">
                                Pendiente
                            </p>
                            <p *ngIf="reserva.status === 'ATENDIDO'" class="text-white p-1 w-full text-right text-xs font-semibold">
                                Atendido
                            </p>
                            <div class="flex max-w-xl flex-col items-start bg-primary w-full justify-between p-6 rounded-lg text-white">
                                <div class="group relative w-full">

                                    <div class="flex items-center gap-x-4 text-xs">
                                        <h3 class="text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                                            <span class="absolute inset-0"></span>
                                            {{reserva.date | date: 'dd/MM/yyyy'}}
                                        </h3>
                                        <span class="example-spacer"></span>
                                        <div class="table-action-menu-wrap">
                                            <button mat-icon-button [matMenuTriggerFor]="beforeMenu"
                                                style="background-color: white;" class="common-action-menu-style"
                                                aria-label="Example icon-button with a menu">
                                                Acción <mat-icon>arrow_drop_down</mat-icon>
                                            </button>
                                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                                <button *ngIf="reserva.status === 'ATENDIDO'" mat-menu-item
                                                (click)="dialogsService.crearReview((reserva.service?.provider?.providerId || 0), undefined ,reserva)">
                                                    <img src="../../../../../assets/img/icon/action-2.png"
                                                        alt="icon not found">
                                                    <span>Servicio completado</span>
                                                </button>
                                                <button
                                                    *ngIf="reserva.status === 'CANCELADO' || reserva.status === 'ATENDIDO' || reserva.status === 'PENDIENTE'"
                                                    mat-menu-item>
                                                    <img src="assets/img/icon/action-1.png"
                                                        alt="icon not found">
                                                    <span>Reportar</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <p class="line-clamp-3 text-lg/6 text-gray-800">
                                        {{reserva.availability?.availableHour}}
                                    </p>
                                    <button
                                        class="mt-2 relative z-10 rounded-full px-3 py-1.5 bg-primary bg-opacity-10 font-medium hover:bg-secondary transition-colors duration-300">
                                        {{reserva.service?.serviceName}}
                                    </button>
                                    <span> | </span>
                                    <button
                                        class="mt-2 relative z-10 rounded-full px-3 py-1.5 bg-primary bg-opacity-10 font-medium hover:bg-secondary transition-colors duration-300">
                                        {{reserva.service?.provider?.name}}
                                    </button>
                                </div>
                                <span class="text-sm/6 text-gray-800">
                                    Mascota:
                                </span>

                                <div class="group relative bg-white w-full p-5 rounded-lg shadow-md">
                                    <div class="flex justify-center">
                                        <div
                                            class="w-32 h-32 border-2 border-dashed border-secondary rounded-full flex items-center justify-center">
                                            <img [src]="reserva.pet?.imageUrl"
                                                alt="Imagen de la mascota" class="w-full h-full object-cover rounded-full">
                                        </div>
                                    </div>
                                    <div class="flex justify-center">
                                        <span class="text-secondary">{{reserva.pet?.petName}}</span>
                                    </div>
                                </div>
                                <p class="mt-4 mb-2 w-full font-normal text-gray-700">
                                    {{(reserva.service?.tipoAtencion) == 'ambos' ? 'Domicilio & Local' : reserva.service?.tipoAtencion == 'domicilio' ? 'Domicilio' : 'Local'}}
                                </p>
                                ¿Alguna Duda?
                                <button
                                    class="relative z-10 rounded-full px-3 py-1.5 bg-success font-medium hover:bg-secondary transition-colors duration-300">
                                    Contactalo
                                </button>
                                <p class="w-full font-medium text-gray-700 text-right">
                                    {{reserva.createdAt | date: 'dd/MM/yyyy, HH:mm:ss'}}
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>