<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay inventual-menu-overlay-dashboard" (click)="myfunction()"
            [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div class="inventual-header-wrapper custom-height-70 px-7 bg-primary border-b border-solid">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <!-- Área de Contenido -->
        <div class="inventual-content-area p-5">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-12">
                    <div class=" p-5 shadow mb-2"
                        style="background: linear-gradient(60deg, #006074, #349f8b, #54ccb6);">
                        <h2 class="text-white text-lg font-semibold">Mis Compras</h2>
                    </div>
                    <div class="bg-white shadow">
                        <div *ngIf="(isLoading$ | async) as isLoading"
                            style="display: flex; align-items: center; justify-content: center;">
                            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="35"
                                color="light"></mat-progress-spinner>
                        </div>
                        <div *ngIf="!(isLoading$ | async) as isLoading">
                            <div class="inventual-content-area">
                                <div class="inventual-common-material-table bg-white p-7 custom-shadow rounded-8 mb-5">
                                    <div class="grid grid-cols-12">
                                        <div class="col-span-12 lg:col-span-12">
                                            <div class="border-warning mb-5 p-5 rounded-s-md"
                                                style="background-color: #f9e7d5;">
                                                <h5 class="text-[20px] text-warning font-bold mb-3">Pendientes</h5>
                                                <div style="display: flex; flex-direction: row;"
                                                    class="overflow-x-auto scrollbar-thin scrollbar-thumb-warning scrollbar-track-white"
                                                    *ngIf="transacciones$ | async as transacciones">
                                                    <div *ngFor="let transaccion of transacciones$ | async">
                                                        <div *ngIf="(transaccion.status === 'pendiente') || (transaccion.status === 'PENDIENTE')"
                                                            class="invention-quickreport bg-warning p-3 mb-2 mr-5">
                                                            <div *ngIf="transaccion.productId">
                                                                <mat-card class="example-card" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToProductDetail(transaccion.productId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.product?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #f28020;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            class="example-header-image"
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.product?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            [style.background-image]="'url(' + transaccion.product?.provider?.imageUrl"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">{{
                                                                            transaccion.product?.name
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">${{
                                                                            transaccion.product?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                    mt-3">cantidad: {{transaccion.totalAmount}}</span>
                                                                </div>
                                                                <div class="flex flex-row justify-between">
                                                                    <a mat-raised-button class="mb-1"
                                                                        [href]="'https://wa.me/' + transaccion.user?.phoneNumber"
                                                                        target="_blank"
                                                                        style="background-color: #006074; color: white; text-decoration: none; display: inline-flex; align-items: center;">
                                                                        <mat-icon
                                                                            style="font-size: x-large; display: flex; padding-left: 8px;">call</mat-icon>
                                                                    </a>
                                                                    <button mat-raised-button color="warn"
                                                                        (click)="dialogAccess.crearTicket(transaccion.product?.provider?.providerId || 0, transaccion)"
                                                                        style="display: flex; justify-content: center; align-items: center;">
                                                                        <mat-icon
                                                                            style="font-size: x-large; padding-left: 10px;">warning</mat-icon>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="transaccion.serviceId">
                                                                <mat-card class="example-card" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.service?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #f28020;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.service?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + (transaccion.service?.providerId || 0) + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">{{transaccion.service?.serviceName
                                                                            ?? "" | truncate:10}}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">${{
                                                                            transaccion.service?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                    mt-3">cantidad: {{transaccion.totalAmount}}</span>
                                                                </div>
                                                                <div class="flex flex-row justify-between">
                                                                    <a mat-raised-button class="mb-1"
                                                                        [href]="'https://wa.me/' + transaccion.user?.phoneNumber"
                                                                        target="_blank"
                                                                        style="background-color: #006074; color: white; text-decoration: none; display: inline-flex; align-items: center;">
                                                                        <mat-icon
                                                                            style="font-size: x-large; display: flex; padding-left: 8px;">call</mat-icon>
                                                                    </a>
                                                                    <button mat-raised-button color="warn"
                                                                        (click)="dialogAccess.crearTicket(transaccion.product?.provider?.providerId || 0, transaccion)"
                                                                        style="display: flex; justify-content: center; align-items: center;">
                                                                        <mat-icon
                                                                            style="font-size: x-large; padding-left: 10px;">warning</mat-icon>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-12 lg:col-span-12">
                                            <div class="border-primary mb-5 p-5 rounded-s-md"
                                                style="background-color: #d6ebe7;">
                                                <h5 class="text-[20px] text-primary font-bold mb-3">Esperado a ser
                                                    recibidos</h5>
                                                <div style="display: flex; flex-direction: row;"
                                                    class="overflow-x-auto scrollbar-thin scrollbar-thumb-primary scrollbar-track-white"
                                                    *ngIf="transacciones$ | async as transacciones">
                                                    <div *ngFor="let transaccion of transacciones$ | async">
                                                        <div *ngIf="(transaccion.status === 'atendido') || (transaccion.status === 'ATENDIDO')"
                                                            class="invention-atendid bg-primary p-3 mb-5 mr-5">
                                                            <div *ngIf="transaccion.productId">
                                                                <mat-card class="example-atendid" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.product?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #017991;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.product?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + (transaccion.product?.provider?.imageUrl) + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">{{
                                                                            transaccion.product?.name
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">${{
                                                                            transaccion.product?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                    <div class="flex flex-row justify-between">
                                                                        <button mat-raised-button class="mb-1"
                                                                            (click)="dialogAccess.crearReview((transaccion.product?.providerId ?? 0), transaccion)"
                                                                            style="background-color: #006074; color: white;">
                                                                            <mat-icon
                                                                                style="font-size: x-large; display: flex; padding-left: 8px;">check</mat-icon>
                                                                        </button>
                                                                        <a mat-raised-button class="mb-1"
                                                                            [href]="'https://wa.me/' + transaccion.user?.phoneNumber"
                                                                            target="_blank"
                                                                            style="background-color: #006074; color: white; text-decoration: none; display: inline-flex; align-items: center;">
                                                                            <mat-icon
                                                                                style="font-size: x-large; display: flex; padding-left: 8px;">call</mat-icon>
                                                                        </a>
                                                                        <button mat-raised-button color="warn"
                                                                            (click)="dialogAccess.crearTicket(transaccion.product?.provider?.providerId || 0, transaccion)"
                                                                            class="mb-1"
                                                                            style="display: flex; justify-content: center; align-items: center;">
                                                                            <mat-icon
                                                                                style="font-size: x-large; padding-left: 8px;">warning</mat-icon>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="transaccion.serviceId">
                                                                <mat-card class="example-atendid" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.service?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #017991;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.service?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + transaccion.service?.provider?.imageUrl + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">{{
                                                                            transaccion.service?.serviceName
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">${{
                                                                            transaccion.service?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                    <button mat-raised-button class="mb-1"
                                                                        (click)="dialogAccess.crearReview((transaccion.service?.providerId ?? 0), transaccion)"
                                                                        style="background-color: #006074; color: white;">
                                                                        <div>Confirmar Llegada</div><mat-icon
                                                                            style="font-size: x-large; display: flex;">check</mat-icon>
                                                                    </button>
                                                                    <button mat-raised-button class="mb-1"
                                                                        style="background-color: #006074; color: white;">
                                                                        <div>Contactarse</div><mat-icon
                                                                            style="font-size: x-large; display: flex;">check</mat-icon>
                                                                    </button>
                                                                    <button mat-raised-button color="warn"
                                                                        (click)="dialogAccess.crearTicket(transaccion.product?.provider?.providerId || 0, transaccion)"
                                                                        class="mb-1 w-full"><mat-icon
                                                                            style="font-size: x-large; display: flex;">check</mat-icon></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-12 lg:col-span-12">
                                            <div class="border-danger mb-5 p-5 rounded-s-md"
                                                style="background-color: #f3d9de;">
                                                <h5 class="text-[20px] text-danger font-bold mb-3">Cancelados</h5>
                                                <div style="display: flex; flex-direction: row;"
                                                    class="overflow-x-auto scrollbar-thin scrollbar-thumb-danger scrollbar-track-white"
                                                    *ngIf="transacciones$ | async as transacciones">
                                                    <div *ngFor="let transaccion of transacciones$ | async">
                                                        <div *ngIf="(transaccion.status === 'cancelado') || (transaccion.status === 'CANCELADO')"
                                                            class="invention-cancel bg-danger p-3 mb-5 mr-5">
                                                            <div *ngIf="transaccion.productId">
                                                                <mat-card class="example-cancel" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.product?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #c7415a;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.product?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + transaccion.product?.provider?.imageUrl + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">{{
                                                                            transaccion.product?.name
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">${{
                                                                            transaccion.product?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="transaccion.serviceId">
                                                                <mat-card class="example-cancel" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.service?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #c7415a;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.service?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + transaccion.service?.provider?.imageUrl + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">{{
                                                                            transaccion.service?.serviceName
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">${{
                                                                            transaccion.service?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-12 lg:col-span-12">
                                            <div class="border-secondary mb-5 p-5 rounded-s-md"
                                                style="background-color: #c6eee6;">
                                                <h5 class="text-[20px] text-secondary font-bold mb-3">Finalizados</h5>
                                                <div style="display: flex; flex-direction: row;"
                                                    class="overflow-x-auto scrollbar-thin scrollbar-thumb-secondary scrollbar-track-white"
                                                    *ngIf="transacciones$ | async as transacciones">
                                                    <div *ngFor="let transaccion of transacciones$ | async">
                                                        <div *ngIf="(transaccion.status === 'completado') || (transaccion.status === 'COMPLETADO')"
                                                            class="invention-cancel bg-secondary p-3 mb-5 mr-5">
                                                            <div *ngIf="transaccion.productId">
                                                                <mat-card class="example-cancel" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.product?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #7ad7c6;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.product?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + transaccion.product?.provider?.imageUrl + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">{{
                                                                            transaccion.product?.name
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToProductDetail(transaccion.product?.productId || 0)">${{
                                                                            transaccion.product?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="transaccion.serviceId">
                                                                <mat-card class="example-cancel" outlined>
                                                                    <div class="relative image-zoom-container"
                                                                        (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">
                                                                        <img mat-card-image
                                                                            [src]="transaccion.service?.imageUrl"
                                                                            class="" width="100%" height="100%" />
                                                                        <div class="absolute bottom-2 right-2">
                                                                            <button mat-mini-fab
                                                                                style="background-color: #7ad7c6;"
                                                                                aria-label="Example icon-button with a heart icon"
                                                                                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                                                                                <i class="fal fa-cart-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <mat-card-header>
                                                                        <div mat-card-avatar
                                                                            (click)="utils.navigatetoProviderDetail(transaccion.service?.providerId || 0)"
                                                                            matTooltip="Ir a perfil del proveedor"
                                                                            class="example-header-image"
                                                                            [style.background-image]="'url(' + transaccion.service?.provider?.imageUrl + ')'"
                                                                            style="background-size: cover;"></div>
                                                                        <mat-card-title class="example-title"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">{{
                                                                            transaccion.service?.serviceName
                                                                            ?? "" | truncate:10 }}</mat-card-title>
                                                                        <mat-card-subtitle class="example-subtitle"
                                                                            (click)="utils.navigateToServiceDetail(transaccion.service?.serviceId || 0)">${{
                                                                            transaccion.service?.price
                                                                            }}</mat-card-subtitle>
                                                                    </mat-card-header>
                                                                </mat-card>
                                                                <div class="invention-quickreport-text">
                                                                    <span
                                                                        class="text-[14px] font-semibold text-white block mb-2 mt-3">comprado:
                                                                        {{transaccion.createdAt | date:
                                                                        'dd/MM/YYYY'}}</span>
                                                                    <span class="text-[14px] font-semibold text-white block mb-2
                                                                      mt-3">cantidad:
                                                                        {{transaccion.totalAmount}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>