<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">¿Quieres convertirte en Vendedor?</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre Proveedor (Tu tienda)</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Nombre Mascota</mat-label>
                                <input matInput [placeholder]="'Ej. Firulais'" class="form-control" id="name" [(ngModel)]="provider.name" name="name">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Descripción</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'Ej. Labrador'" class="form-control" id="description" [(ngModel)]="provider.description" name="description">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Direccion</h5>
                        <div class="inventual-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">+02 587 698 771</mat-label>
                                <input matInput [placeholder]="'Ej. 3 years'" class="form-control" id="address" [(ngModel)]="provider.address" name="address">
                            </mat-form-field>
                        </div>
                    </div>
                </div>  
                <div class="col-span-6 sm:col-span-12">
                  <div class="inventual-select-field mb-6">
                    <h5 class="text-[15px] text-heading font-semibold mb-3">Especialidad</h5>
                    <div class="inventual-select-field-style">
                      <mat-form-field class="w-full" [floatLabel]="'always'">
                        <mat-label class="hidden">Number</mat-label>
                        <input type="text" placeholder="Selecciona tu especialidad" aria-label="Number" matInput
                          [formControl]="myControlEspecialidad" [matAutocomplete]="autoProveedor">
                        <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFnEspecialidad">
                          <mat-option *ngFor="let option of filteredEspecialidad | async" [value]="option.specialtyId">
                            {{option.nameSpecialty}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                </div>    
                <div class="col-span-12 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <div class="inventual-input-field-style inventual-input-field-style-eye">
                          <p>Foto de perfil</p>
                          <section class="example-section">
                            <span *ngIf="!checked" class="badge badge-success">
                              Por defecto</span>
                            <span *ngIf="checked">
                              Por defecto </span>
                            <mat-slide-toggle
                                class="example-margin"
                                [(ngModel)]="checked">                    
                            <span *ngIf="checked" class="badge badge-success">
                              Sube tu foto</span>
                            <span *ngIf="!checked">
                              Sube tu foto</span>
                            </mat-slide-toggle>
                          </section>
                        </div>
                    </div>
                </div>
                <ng-template [ngIf]="checked">
                  <div class="inventual-select-field mb-5">
                    <div class="flex flex-wrap gap-5 mb-7">
                      <ng-template [ngIf]="!selectedItemCount">
                        <div class="inventual-brand-img-field">
                            <input id="BrandImage" accept="image/*" type="file" (change)="handleFileChange($event)" required class="bg-primary/5">
                            <label for="BrandImage" class="inventual-brand-img-field-inner">{{ selectedItemCount ? 'Foto subida' : 'Sube tu foto de perfil' }}</label>
                        </div>
                      </ng-template>
                      <div class="inventual-brand-img-uploaded-wrap" #imageContainer></div>
                    </div>
                  </div>
                </ng-template>                              
                <div *ngIf="(isLoading$ | async) as isLoading" style="display: flex; align-items: center; justify-content: center;">
                    <mat-progress-spinner
                      *ngIf="isLoading"
                      mode="indeterminate"
                      diameter="35"
                      color="light"
                    ></mat-progress-spinner>
                  </div>   
                <div *ngIf="!(isLoading$ | async) as isLoading"  class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary" (click)="registrarProvider()">Registrar Proveedor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>