<div class="inventual-dashboard-transaction-wrapper bg-white rounded-8 mb-5">
  <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
    <mat-tab label="Nuevos">
      <mat-grid-list [cols]="5" rowHeight="32:35" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Mas Vendidos">
      <mat-grid-list [cols]="5" rowHeight="32:35" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="En Oferta">
      <mat-grid-list [cols]="5" rowHeight="32:35" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" outlined>
            <div class="relative image-zoom-container">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
              <div class="absolute bottom-2 right-2">
                <button mat-mini-fab style="background-color: #349f8b;"
                  aria-label="Example icon-button with a heart icon"
                  class="flex justify-center items-center bg-white rounded-full shadow-lg">
                  <i class="fal fa-cart-plus"></i>
                </button>
              </div>
            </div>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Dog chow</mat-card-title>
              <mat-card-subtitle>$99.5</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>