<div class="invention-quickreport-wrapper">
  <div class="bg-success mb-5 p-5 rounded-s-md">
    <div class="flex flex-row align-middle justify-items-center">
      <h5 class="text-[20px] text-white font-bold mb-3">¡Ofertas que no te puedes perder! </h5>
      <span class="example-spacer"></span>
      <div class="inventual-select-field mb-5">
        <div class="inventual-input-field-style inventual-input-field-style-eye">
          <section class="example-section">
            <span *ngIf="!checked" class="badge badge-primary mr-1" (click)="checked">
              Servicios</span>
            <span *ngIf="checked" class="badge">
              Servicios</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="checked" [color]="'warn'">
              <span *ngIf="checked" class="badge badge-primary">
                Productos</span>
              <span *ngIf="!checked" class="badge">
                Productos</span>
            </mat-slide-toggle>
          </section>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;"
      class="overflow-x-auto scrollbar-thin scrollbar-thumb-secondary scrollbar-track-success">
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
    </div>

  </div>
  <div class="bg-success mb-5 p-5 rounded-s-md">
    <div class="flex flex-row align-middle justify-items-center">
      <h5 class="text-[20px] text-white font-bold mb-3">¡Ofertas que no te puedes perder! </h5>
      <span class="example-spacer"></span>
      <div class="inventual-select-field mb-5">
        <div class="inventual-input-field-style inventual-input-field-style-eye">
          <section class="example-section">
            <span *ngIf="!checked1" class="badge badge-primary mr-1">
              Servicios</span>
            <span *ngIf="checked1" class="badge">
              Servicios</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="checked1" [color]="'warn'">
              <span *ngIf="checked1" class="badge badge-primary">
                Productos</span>
              <span *ngIf="!checked1" class="badge">
                Productos</span>
            </mat-slide-toggle>
          </section>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;"
      class="overflow-x-auto scrollbar-thin scrollbar-thumb-secondary scrollbar-track-success">
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
      <div class="invention-quickreport mb-5 mr-5">
        <mat-card class="example-card" outlined>
          <div class="relative image-zoom-container">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu" class="w-full h-full object-cover" width="180px" height="100px" />
            <div class="absolute bottom-2 right-2">
              <button mat-mini-fab style="background-color: #349f8b;" aria-label="Example icon-button with a heart icon"
                class="flex justify-center items-center bg-white rounded-full shadow-lg">
                <i class="fal fa-cart-plus"></i>
              </button>
            </div>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Dog chow</mat-card-title>
            <mat-card-subtitle>$99.5</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <div class="invention-quickreport-text">
          <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
          <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
        </div>
      </div>
    </div>

  </div>
</div>