<div class="invention-quickreport-wrapper">
    <div style="display: flex; flex-direction: row; overflow-x: auto;">   
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; overflow-x: auto;">   
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div> 
        <div class="invention-quickreport flex flex-wrap items-center bg-success mb-5 rounded-8 p-7 xl:block lg:block md:block">
            
            <mat-card class="example-card" outlined>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" height="100px" width="250px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Dog chow</mat-card-title>
                  <mat-card-subtitle>$99.5</mat-card-subtitle>
                  <span class="example-spacer"></span>
                  <button style="justify-content: center; align-items: center; display: flex;" mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="sidenav-link-icon" class="fal fa-cart-plus"></i>
                  </button>
                </mat-card-header>
            </mat-card>
            <div class="invention-quickreport-text">
                <span class="text-[16px] font-semibold text-white block mb-2 mt-3">antes $65</span>
                <h5 class="text-[20px] text-white font-bold">Ahora $58,420</h5>
            </div>
        </div>
    </div>
</div>
