@import '../../../../custom-palettes.scss';

.example-spacer {
  flex: 1 1 auto;
}
.example-card {
    max-width: 400px;
    display: flex;
  }
  
  .example-header-image {
    width: 30px;
    height: 30px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.invention-quickreport {    
    min-width: 300px;
    max-width: 300px;
    &-icon {
        & span {
            &.invention-quickreport-icon1 {
                background: #F2F6FF;
                & path {
                    fill: #235ED2;
                }
            }
            &.invention-quickreport-icon2 {
                background: #F6F1FF;
                & path {
                    fill: #6625C7;
                }
            }
            &.invention-quickreport-icon3 {
                background: #FBF5EA;
                & path {
                    fill: #BF8818;
                }
            }
            &.invention-quickreport-icon4 {
                background: #ECFEF7;
                & path {
                    fill: #14C281;
                }
            }
            &.invention-quickreport-icon5 {
                background: #FCF2F6;
                & path {
                    fill: #C4346A;
                }
            }
            &.invention-quickreport-icon6 {
                background: #F1FBFE;
                & path {
                    fill: #239ECC;
                }
            }
        }
    }
}