<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="inventual-menu-overlay inventual-menu-overlay-dashboard" (click)="myfunction()"
            [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div class="inventual-header-wrapper custom-height-70 px-7 bg-primary border-b border-solid">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-header></app-header>
                    </div>
                </div>
            </div>
        </div>
        <!-- Área de Contenido -->
        <div class="inventual-content-area p-5">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-12">
                    <div class=" p-5 shadow mb-2"
                        style="background: linear-gradient(60deg, #006074, #349f8b, #54ccb6);">
                        <h2 class="text-white text-lg font-semibold">Mascotas</h2>
                    </div>
                    <div class="bg-white p-5 shadow">
                        <div class="inventual-material-btn flex items-center justify-end">
                            <button mat-raised-button color="accent" (click)="dialogAccess.createMascota()"
                                class="mb-1"><mat-icon>add_circle_outline</mat-icon> Agregar Mascota</button>
                        </div>
                        <div *ngIf="(isLoading$ | async) as isLoading"
                            style="display: flex; align-items: center; justify-content: center;">
                            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="35"
                                color="light"></mat-progress-spinner>
                        </div>
                        <div *ngIf="!(isLoading$ | async) as isLoading">
                            <div class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-1.5">
                                <div class="mt-5 col-span-1 justify-center align-middle flex"><app-pet-card></app-pet-card></div>
                                <div class="mt-5 col-span-1 justify-center align-middle flex"><app-pet-card></app-pet-card></div>
                                <div class="mt-5 col-span-1 justify-center align-middle flex"><app-pet-card></app-pet-card></div>
                                <div class="mt-5 col-span-1 justify-center align-middle flex"><app-pet-card></app-pet-card></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>