<mat-dialog-content>
    <div class="popup-body">
        <div class="inventual-popup-inner">
            <div class="inventual-popup-header relative mb-11">
                <div class="inventual-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Mensaje de Confirmación</h4>
                </div>
                <div class="inventual-popup-header-close absolute -top-4 ltr:-right-2.5 ltr:left-auto rtl:left-0 rtl:right-auto">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-12 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">¿Esta seguro de querer eliminar el elemento ({{data.tipo}})?</h5>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="inventual-material-btn pt-1.5 justify-end">
                        <button type="submit" mat-raised-button color="primary" (click)="eliminarElemento(data.idelemento, data.tipo)">
                            Eliminar</button>
                        <button type="submit" mat-raised-button color="primary" (click)="cancelar()">
                            Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>