<div class="popup-body">
    <div class="inventual-popup-inner">
        <div class="inventual-popup-header relative">
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-12 sm:col-span-12">
                    <div class="inventual-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Selecciona tu ubicación
                        </h5>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-12">
                    <div class="inventual-select-field">
                        <div #mapContainer id="map" class="w-full h-[300px] rounded-xl shadow-md"></div>
                        <p class="text-sm mt-2 text-gray-600">Ubicación seleccionada: {{ ubicacionSeleccionada }}
                        </p>
                        <p class="text-sm mt-2 text-gray-600">Asegurate de que tu ubicación sea correcta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-5">
    <div *ngIf="(isLoading$ | async) as isLoading" style="display: flex; align-items: center; justify-content: center;">
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="35" color="light"></mat-progress-spinner>
    </div>
    <div *ngIf="!(isLoading$ | async) as isLoading" class="col-span-12">
        <div class="inventual-material-btn pt-1.5 justify-end">
            <button type="submit" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
            <button type="submit" mat-raised-button color="primary" (click)="registrarReserva()">Continuar</button>

        </div>
    </div>
</div>