<div class="inventual-dashboard-area">
  <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-bar-responsive" (click)="myfunction()">
      <mat-icon>reorder</mat-icon>
    </div>
    <div
      class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
      <app-menu></app-menu>
    </div>
    <div class="inventual-menu-overlay inventual-menu-overlay-dashboard" (click)="myfunction()"
      [class.sidebar-enable]="menuSidebarActive"></div>
  </div>
  <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-area">
      <div class="inventual-header-wrapper custom-height-70 px-7 bg-primary border-b border-solid border-border">
        <div class="grid grid-cols-12 items-center h-full">
          <div class="col-span-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
    </div>
    <!-- Área de Contenido -->
    <div class="inventual-content-area p-3" style="min-height: 100vh;">
      <div class="grid grid-cols-12 gap-3">
        <!-- Filtros y Categorías -->
        <div class="col-span-2 lg:col-span-12 bg-white shadow p-2">
          <div class="">
            <h2 class="text-lg font-semibold mt-1 p-4">Filtrar</h2>
          </div>
          <div class="mb-1">
            <mat-panel-title>
              Precio
            </mat-panel-title>
            <div class="mb">
              <div class="inventual-input-field-style relative">
                <mat-form-field class="w-full" [floatLabel]="'always'">
                  <mat-label class="hidden">0</mat-label>
                  <input class="!ps-2.5 !pe-[50px]" type="number" matInput [placeholder]="'0'"  [(ngModel)]="min" (ngModelChange)="aplicarFiltros()">
                </mat-form-field>
                <figure
                  class="h-12 w-12 text-[15px] text-body bg-gray text-center leading-[46px] border border-solid border-border absolute top-0 end-0 inline-block">
                  Min</figure>
              </div>
              <div class="inventual-input-field-style relative mt-3">
                <mat-form-field class="w-full" [floatLabel]="'always'">
                  <mat-label class="hidden">0</mat-label>
                  <input class="!ps-2.5 !pe-[50px]" type="number" matInput [placeholder]="'0'" [(ngModel)]="value" (ngModelChange)="aplicarFiltros()">
                </mat-form-field>
                <figure
                  class="h-12 w-12 text-[15px] text-body bg-gray text-center leading-[46px] border border-solid border-border absolute top-0 end-0 inline-block">
                  Max</figure>
              </div>
            </div>
            <mat-slider style="width: 90%" class="em-0" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel"
              [showTickMarks]="showTicks">
              <input matSliderThumb [(ngModel)]="value" (ngModelChange)="aplicarFiltros()" #slider>
            </mat-slider>
          </div>
          <mat-divider></mat-divider>
          <div class="mb-1">
            <mat-expansion-panel class="custom-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="custom-expansion-panel-header">
                <mat-panel-title>
                  Ubicación
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="custom-expansion-panel-content">
                <div class="inventual-select-field mb-3">
                  <div class="inventual-select-field-style">
                    <mat-form-field>
                      <mat-select [(ngModel)]="pais" class="block" [placeholder]="'Pais'">
                        <mat-option *ngFor="let country of countryList" [value]="country.name"
                          (click)="this.ciudadesDelPais(country)">{{country.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <ng-template [ngIf]="pais && cityList">
                  <div class="inventual-select-field">
                    <div class="inventual-select-field-style">
                      <mat-form-field>
                        <mat-select [(ngModel)]="ciudad" class="block" [placeholder]="'Ciudad'" (ngModelChange)="aplicarFiltros()">
                          <mat-option *ngFor="let ciudad of cityList" [value]="ciudad">{{ciudad}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-template>
              </div>
            </mat-expansion-panel>
          </div>          
          <mat-divider></mat-divider>
          <div class="mb-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Categorias
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="inventual-input-field-style relative">
                <div *ngIf="(isLoadingCategory$ | async) as isLoading"
                  style="display: flex; align-items: center; justify-content: center;">
                  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="35" color="light"></mat-progress-spinner>
                </div>
                <ul *ngIf="!(isLoadingCategory$ | async) as isLoading" class="sidenav-nav">
                  <li class="sidenav-category-item-producto" *ngFor="let data of navData">
                    <a class="sidenav-nav-link" *ngIf="data.items && data.items.length > 0" [ngClass]="getActiveClass(data)">
                      <i class="sidenav-link-icon">
                        <div class="inventual-checkbox-field-style">
                          <input type="checkbox" name="expired" id="expired"
                            (change)="toggleCategorySelection(data.label, $any($event.target).checked)">
                        </div>
                      </i>
                      <span class="" (click)="handleClick(data)">
                        {{data.label}}
                      </span>
                      <i *ngIf="data.items" class="menu-collapse-icon menu-collapse-icon-rtl" (click)="handleClick(data)"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
                      <i *ngIf="data.items" class="menu-collapse-icon menu-collapse-icon-ltr"
                        [ngClass]="!data.expanded ? 'fal fa-angle-left' : 'fal fa-angle-down'"></i>
                    </a>
                    <!-- start main item on child -->
                    <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                      (click)="shrinkItems(data)">
                      <i class="sidenav-link-icon">
                        <div class="inventual-checkbox-field-style">
                          <input type="checkbox" name="expired" id="expired"
                            (change)="toggleCategorySelection(data.label, $any($event.target).checked)">
                        </div>
                      </i>
                      <span class="sidenav-link-text">
                        {{data.label}}
                      </span>
                    </a>
                    <!-- end main item on child -->
                    <div *ngIf="data.items && data.items.length > 0">
                      <app-sublevel-categoria *ngIf="data.items && data.items.length > 0" [data]="data" [multiple]="multiple"
                        [expanded]="data.expanded" (checkboxChange)="toggleCategorySelection($event.categoryName, $event.isChecked)">
                      </app-sublevel-categoria>
                    </div>
                  </li>
                </ul>
              </div>
            </mat-expansion-panel>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div class="col-span-10 lg:col-span-12">
          <div class="grid grid-cols-12 gap-5 mb-2">
            <div class="col-span-12 lg:col-span-12 flex flex-row justify-end align-middle">
              <div class="mt-3 mr-2">
                Mostrar solo de providers con certificados :
              </div>
              <div class="inventual-select-field mt-3.5 mr-2 ">
                <input type="checkbox" name="expired" id="expired">
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div class="ml-2 mt-3 mr-2">
                Mostrar solo ofertas :
              </div>
              <div class="inventual-select-field mt-3.5 mr-2 ">
                <input type="checkbox" name="expired" id="expired">
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div class="ml-2 mt-3 mr-2">
                Ordenar productos por :
              </div>
              <div class="inventual-select-field">
                <div class="inventual-select-field-style" style="width: 200px">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Ordenar'">
                      <mat-option value="lowerPrice" (click)="sortByLowerPrice()">Menor Precio</mat-option>
                      <mat-option value="higherPrice" (click)="sortByHigherPrice()">Mayor Precio</mat-option>
                      <mat-option value="nameAsc" (click)="sortByName()">Nombre (A,B ...)</mat-option>
                      <mat-option value="nameDesc" (click)="sortByNameDescendent()">Nombre (Z,X ...)</mat-option>
                      <mat-option value="lowerRating">Menor Calificacion</mat-option>
                      <mat-option value="higherRating">Mayor Calificacion</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white p-3 shadow">
            <div *ngIf="(isLoading$ | async) as isLoading"
              style="display: flex; align-items: center; justify-content: center;">
              <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="35"
                color="light"></mat-progress-spinner>
            </div>
            <div *ngIf="!(isLoading$ | async) as isLoading">
              <app-productos-item [productosListFiltrado]="productosListFiltrado"
                [providers]="providers"></app-productos-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inventual-copyright-area">
      <app-copyright></app-copyright>
    </div>
  </div>