<footer class="bg-primary text-white pt-16 px-8 md:px-8 lg:px-16">
    <div class="grid grid-cols-5 gap-8 sm:grid-cols-1 mb-5">
        <div class="col-span-1 lg:col-span-2">
            <div class="flex items-center mb-4 text-[32px]">
                <img class="bg-white" src="assets/img/logo/PetWise_FinalLogo_TRANSPARENTE.PNG" alt="logo not found" height="140px"
                    width="140px">
            </div>
            <p class="text-gray-400 mb-6">Tu aliado digital para el cuidado de tus mascotas.</p>
            <div class="flex space-x-6">
                <a href="#" class="text-gray-400 hover:text-white">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Facebook_Logo_%282019%29.svg/1024px-Facebook_Logo_%282019%29.svg.png"
                        alt="Facebook" class="h-6 w-6 filter invert">
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/1024px-X_logo_2023.svg.png"
                        alt="X (Twitter)" class="h-6 w-6 filter invert">
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"
                        alt="Instagram" class="h-6 w-6 filter invert">
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png"
                        alt="GitHub" class="h-6 w-6 filter invert">
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1024px-YouTube_full-color_icon_%282017%29.svg.png"
                        alt="YouTube" class="h-6 w-6 filter invert">
                </a>
            </div>
        </div>

        <div>
            <h3 class="text-lg font-semibold mb-4">Atención al Cliente</h3>
            <ul class="space-y-3">
                <li><a href="#" class="text-stone-200 hover:text-white">70576717</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">Sede Central: Bolivia</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">¿Tienes dudas o necesitas ayuda? Abre un ticket
                        de soporte - Nuestro equipo te responderá lo antes posible.</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold mb-4">Trabaja con nosotros</h3>
            <ul class="space-y-3">
                <li><a href="#" class="text-stone-200 hover:text-white">¿Apasionado por el mundo PetTech?
                        Envíanos tu CV a: talento&#64;petwise.bo
                        Buscamos personas creativas, comprometidas y con amor por los animales</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold mb-4">Enlaces útiles</h3>
            <ul class="space-y-3">
                <li><a href="#" class="text-stone-200 hover:text-white">¿Qué es PetWise?</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">Preguntas Frecuentes</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">Política de Privacidad</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">Términos y Condiciones</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">Contáctanos</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold mb-4">Accesibilidad e idioma</h3>
            <ul class="space-y-3">
                <li><a href="#" class="text-stone-200 hover:text-white">Español</a></li>
                <li><a href="#" class="text-stone-200 hover:text-white">English</a></li>
            </ul>
        </div>
    </div>

    <div class="mt-16 py-5 border-t border-stone-400 text-center text-stone-300 text-sm">
        &copy; 2025 PetWise. Todos los derechos reservados.
        Hecho con ❤ en Bolivia.
    </div>
</footer>