<div class="inventual-login-area flex justify-center items-center min-h-screen w-full h-full" style="background: linear-gradient(60deg, #006074, #349f8b, #54ccb6);">
    <div class="inventual-login-wrapper">
        <div class="inventual-login-logo text-center mb-12">
            <img src="assets/img/logo/PetWise_FinalLogo_TRANSPARENTE.PNG" alt="logo not found" height="280px" width="280px">
        </div>
        <div class="inventual-select-field mb-5">
            Envia un correo para recuperar tu contraseña
            <div class="inventual-input-field-style">
              <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden">Joseph Tylor</mat-label>
                <input matInput type="email" [placeholder]="'Email'"  [(ngModel)]="email">
              </mat-form-field>
              <caption><mat-icon>mail_outline</mat-icon></caption>
            </div>
        </div>
        <div class="inventual-login-btn mb-7">
            <div *ngIf="isloading"
                style="display: flex; align-items: center; justify-content: center;">
                <mat-progress-spinner mode="indeterminate" diameter="35"
                    color="light"></mat-progress-spinner>
            </div>
            <div *ngIf="!isloading"  class="inventual-material-btn">
                <button type="submit" mat-raised-button color="primary" (click)="sendEmail()">Enviar</button>
            </div>
        </div>
        <div class="inventual-login-footer">
            <div class="inventual-login-footer-account text-center">
                <span class="text-[16px] inline-block text-body">Volver al <a [routerLink]="['']" class="text-[16px] text-primary">Inicio de sesion</a></span>
            </div>
        </div>
    </div>
</div>